.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
	-fx-background-color: linear-gradient(to bottom right, #F66B0E, #205375);
    -fx-background-color: linear-gradient(to bottom right, #03001e, #7303c0, #ec38bc, #fdeff9);
    -fx-background-color: linear-gradient(to bottom right, #232526 , #414345);
    
  	-fx-tab-min-width:200px;
  	-fx-tab-max-width:200px;
  	-fx-tab-min-height:25px;
  	-fx-tab-max-height:25px;
	
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #F32424;
  	-fx-opacity: .4;

}

.tab-pane .tab:hover
{

    -fx-background-color: #F32424;
  	-fx-opacity: .8;
}

.tab-pane .tab:selected
{

    -fx-background-color: #c31432;
    -fx-opacity: 1;

}

.tab .tab-label {
    -fx-alignment: CENTER;

    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;


}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0, 10 10 0 0;
    -fx-border-insets: -6 -9 -8 -8, -5 -8 -7 -7;
    -fx-border-color: transparent;

}
/*
.tab-pane > .tab-header-area > .headers-region > .tab:selected{
    -fx-border-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;
}
*/
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    
}

.tab-header-area .tab{

    -fx-background-radius: 2;
    -fx-border-color: transparent;
}




